<html ng-app='myApp'>
    <head></head>
    <body ng-controller='TextController'>
        <p ng-bind='someText.message'></p>
        <form ng-controller='StartUpController' ng-submit='requestFunding()'>
            <p>
                Starting: <input ng-model='funding.startingEstimate' /><br />
                Recommendation: {{funding.needed}}
            </p>
            <button>Fund my startup!</button>
            <button ng-click='reset()'>Reset</button>
        </form>
        <script type="text/javascript" src='../../angular.js'></script>
        <script type="text/javascript">
            var myAppModule = angular.module('myApp', [])
            myAppModule.controller('TextController', function($scope) {
                var someText = {};
                someText.message = 'You have started your journey.';
                $scope.someText = someText;
            });

            myAppModule.controller('StartUpController', function($scope) {
                $scope.funding = { startingEstimate: 0 };
                var computeNeeded = function() {
                    $scope.funding.needed = $scope.funding.startingEstimate * 10;
                };
                $scope.$watch('funding.startingEstimate', computeNeeded);
                $scope.requestFunding = function() {
                    window.alert('Sorry, please get more customers first.');
                };
                $scope.reset = function() {
                    $scope.funding.startingEstimate = 0;
                }
            });
        </script>
    </body>
</html>